<section id="slideslow-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="slideshowcontent">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <h1>AZDDOU CAR MARRAKECH!</h1>
                            <p>Trouvez la gamme qui vous convient <br> Louez votre voiture</p>

                            <div class="book-ur-car" >
                                <form action="index2.html">
                                   <div class="row d-flex justify-content-center" style="margin: 10px;">
                                    <div class="col-lg-2 pick-location bookinput-item" >
                                        <select class="custom-select">
                                          <option selected>Votre Ville</option>
                                          <option value="1">Marrakech</option>
                                          <option value="2">Agadir</option>
                                          <option value="3">Rabat</option>
                                          <option value="3">Casablanca</option>
                                        </select>
                                    </div>

                                    <div class="col-lg-3 pick-date bookinput-item">
                                        <input id="startDate2" placeholder="Date de Départ" />
                                    </div>

                                    <div class="col-lg-3 retern-date bookinput-item">
                                        <input id="endDate2" placeholder="Date de retour" />
                                    </div>

                                    <div class="col-lg-3 car-choose bookinput-item">
                                        <select class="custom-select" >
                                          <option selected>Votre Voiture</option>
                                          <option value="1">BMW</option>
                                          <option value="2">Audi</option>
                                          <option value="3">Lexus</option>
                                        </select>
                                    </div>

                                   <br>
                                   </div>
                                   <div class="row d-flex justify-content-center" style="margin: 10px;">
                                    <div class=" col-lg-6 bookcar-btn bookinput-item">
                                        <button type="submit">Réserver une Voiture</button>
                                    </div>
                                   </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== SlideshowBg Area End ==-->

<!--== About Us Area Start ==-->
<section id="about-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>A Propos</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Pourquoi Choisir AZDDOU CAR  ?</p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <div class="row">
            <!-- About Content Start -->
            <div class="col-lg-6">
                <div class="display-table">
                    <div class="display-table-cell">
                        <div class="about-content">
                            <p>
                                1 - Nous vous offrirons les meilleurs prix en ville pour la location de votre choix.  
                                <br>
                                2- Réservation sans Risque. Annulation jusqu'à 48 heures avant la remise des clés.
                                <br>
                                3 - Vous pouvez réserver une voiture chez Clichy Car à tout moment (24/7).
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About Content End -->

            <!-- About Video Start -->
            <div class="col-lg-6">
                <div class="about-image">
                    <img src="assets/img/home-2-about.png" alt="JSOFT">
                </div>
            </div>
            <!-- About Video End -->
        </div>

        <!-- About Fretutes Start -->
        
        <!-- About Fretutes End -->
    </div>
</section>
<!--== About Us Area End ==-->

<!--== Partner Area Start ==-->
<div id="partner-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="partner-content-wrap">
                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="assets/img/partner/partner-logo-1.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->

                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="assets/img/partner/partner-logo-2.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->

                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="assets/img/partner/partner-logo-3.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->

                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="assets/img/partner/partner-logo-4.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->

                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="assets/img/partner/partner-logo-5.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->

                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="assets/img/partner/partner-logo-1.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->

                    <!-- Single Partner Start -->
                    <div class="single-partner">
                        <div class="display-table">
                            <div class="display-table-cell">
                                <img src="assets/img/partner/partner-logo-4.png" alt="JSOFT">
                            </div>
                        </div>
                    </div>
                    <!-- Single Partner End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Partner Area End ==-->

<!--== Services Area Start ==-->
<section id="service-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Nos Services</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Choisissez AZDDOU CAR pour : </p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

  <!-- Service Content Start -->
  <div class="row">
    <div class="col-lg-11 m-auto text-center">
      <div class="service-container-wrap">
        <!-- Single Service Start -->
        <div class="service-item">
          <i class="fa fa-taxi"></i>
          <h3>Location de voiture</h3>
          <p>Trouvez toutes les gammes de voitures <br> c'est cool non !!</p>
        </div>
        <!-- Single Service End -->

        <!-- Single Service Start -->
        <div class="service-item">
          <i class="fa fa-cog"></i>
          <h3>Transfert Aéroport</h3>
          <p>AZDDOU CAR vous propose des voitures propres avec des chauffeurs de bonne qualitées</p>
        </div>
        <!-- Single Service End -->

        <!-- Single Service Start -->
        <div class="service-item">
          <i class="fa fa-map-marker"></i>
          <h3>Location de longue durée</h3>
          <p>Louer la voiture que vous vouler pour la période qui vous convient . <br> Feel Free !!</p>
        </div>
      
        <!-- Single Service End -->
      </div>
    </div>
  </div>
  <!-- Service Content End -->
    </div>
</section>
<!--== Services Area End ==-->

<!--== Fun Fact Area Start ==-->
<section id="funfact-area" class="overlay section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-11 col-md-12 m-auto">
                <div class="funfact-content-wrap">
                    <div class="row">
                        <!-- Single FunFact Start -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-funfact">
                                <div class="funfact-icon">
                                    <i class="fa fa-smile-o"></i>
                                </div>
                                <div class="funfact-content">
                                    <p><span class="counter">300</span>+</p>
                                    <h4>Nos Clients</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single FunFact End -->

                        <!-- Single FunFact Start -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-funfact">
                                <div class="funfact-icon">
                                    <i class="fa fa-car"></i>
                                </div>
                                <div class="funfact-content">
                                    <p><span class="counter">70</span>+</p>
                                    <h4>Voitures en Stock</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single FunFact End -->

                        <!-- Single FunFact Start -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-funfact">
                                <div class="funfact-icon">
                                    <i class="fa fa-bank"></i>
                                </div>
                                <div class="funfact-content">
                                    <p><span class="counter">5</span>+</p>
                                    <h4>Nos Bureaux</h4>
                                </div>
                            </div>
                        </div>
                        <!-- Single FunFact End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Fun Fact Area End ==-->

<!--== Choose Car Area Start ==-->
<section id="choose-car" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Le choix est à vous</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>AZDOOU CAR vous invite à découvrir (PARC AUTO)</p>
                </div>
            </div>
            <!-- Section Title End -->
        </div>

        <div class="row">
            <!-- Choose Area Content Start -->
            <div class="col-lg-12">
                <div class="choose-ur-cars">
                    <div class="row">
                        <!-- Car List Content Start -->
                        <div class="col-lg-12">
                            <div class="car-list-content">
                                <div class="row">
                                    <!-- Single Car Start -->
                                    <div class="col-lg-6 col-md-6" *ngFor="let voiture of voitureList">
                                        <div class="single-car-wrap">
                                            <!-- <div class="car-list-thumb car-thumb-1"></div> -->
                                            <img [src]="voiture.image" alt="" style="height: 290px; width: 100%;">
                                            <div class="car-list-info without-bar">
                                                <h2><a href="#">{{voiture.marque}}</a></h2>
                                                <h5>{{voiture.prix}} DH /par Jour</h5>
                                                <p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean inorci luctus et ultrices posuere cubilia.</p>
                                                <ul class="car-info-list">
                                                    <li>{{voiture.model}}</li>
                                                    <li>{{voiture.carburant}}</li>
                                                    <li>{{voiture.gamme}}</li>
                                                </ul>
                                                <p class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star unmark"></i>
                                                </p>
                                                <a routerLink="/contact" class="rent-btn">Résérver</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Car End -->
            
                                    
                                </div>
                            </div>
            
                            <!-- Page Pagination Start -->
                            <div class="page-pagi">
                                <nav aria-label="Page navigation example">
                                </nav>
                            </div>
                            <!-- Page Pagination End -->
                        </div>
                        <!-- Car List Content End -->
                    </div>
                </div>
            </div>
            <!-- Choose Area Content End -->
        </div>
    </div>
</section>
<!--== Choose Car Area End ==-->




<!--== Mobile App Area Start ==-->
<!-- <div id="mobileapp-video-bg"></div>
<section id="mobile-app-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="mobile-app-content">
                    <h2>bientôt</h2>
                    <p>Vous allez nous trouver sur : </p>
                    <div class="app-btns">
                        <a href="#"><i class="fa fa-android"></i> Android Store</a>
                        <a href="#"><i class="fa fa-apple"></i> Apple Store</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--== Mobile App Area End ==-->